body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo{
  width: 45px !important;
  margin-right: 5px;
}
.logoText{
  font-size: 16px !important;
}

.js-gotop{
  background-color: royalblue !important;
}

.rounded-0{
  border-radius: 4px !important ;
  width: 50%;
  margin-top: 20px;
}

 
/* 
#fh5co-hero {
      background: #fff url(images/loader.gif) no-repeat center center;

} */

a{
  text-decoration: none !important;
}

.rounded-lg{
  border-radius: 5px !important;
}
.link{
  cursor: pointer;
}

.debt{
  text-decoration: line-through !important;
  text-decoration-color: red !important;
}

.head-card{
  font-size: 20px;
  font-weight: bold;
}

.cards{
  text-align: left;

}
.body-card{
  color: rgb(224, 223, 223);
}
.bg-warning{
  background: rgb(192, 192, 7) !important;
}